@import './common.styl';
.date_input{
    width: 100%;
    padding: toRem(10);
    box-sizing: border-box;
    background: #f5f5fc;
    position: relative;
    img{
        display: block;
        width: toRem(23);
        height: toRem(20);
        margin: toRem(5) auto;
    }
    h2{
        color: #6e8ac9;
        font-size: toRem(14);
        text-align center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.date_input_show{
    width: 100%;
    padding: toRem(20) toRem(40);
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px dashed #f3f3f3;
    cursor: move;
    position: relative;
    &:hover{
        background: #f3fbff;
        input{
            border: 1px solid #89b6fa;               
        }
    }
    &.on{
        background: #fdf8f0;
        input{
            border: 1px solid #facd89;
        }
    }    
    label{
        font-size: toRem(14);
        display: block;
    }
    input{
        width: 100%
        height: toRem(45);
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
    }
    .shade{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.date_input_edit{
    h3{
        font-size: toRem(14);
        font-weight: bold;        
        background: #f3fbff;
        &:after{
            content: '';
            display: inline-block;
            width:0px;
            height:0px;
            border-left:toRem(5) solid transparent;
            border-right:toRem(5) solid transparent;
            border-bottom:toRem(10) solid #2f2f2f; 
            font-size:0px;
            line-height:0px;
            float: right;
            margin-top: toRem(5);
            cursor: pointer;
        }
    }
    .base_attr{
        h3{        
            padding: toRem(40) toRem(20) toRem(20) toRem(20);        
        }
        .edit_content{
            padding: toRem(10) toRem(20) toRem(30) toRem(20);
            font-size: toRem(12);            
            p:first-child label{
                margin-top:0;
            }                       
        }
        .error{
            font-size toRem(20);
        }
    }
    .base_style{
        h3{        
            padding: toRem(20)        
        }
        .edit_content{
            padding: toRem(10) toRem(20) toRem(30) toRem(20);
            font-size: toRem(12);
            p:first-child label{
                margin-top:0;
            }            
        }
    }
}


.date_input_show{
    .picker_background {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        z-index: 100;
        overflow: hidden;
    }

    .picker_background>.picker_main {
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transform: translateY(toRem(240));
        transition: all 0.3s;
    }
    .picker_background>.picker_main.on{
        transform: translateY(toRem(0));
    }

    .picker_background>.picker_main .picker_operate {
        padding: toRem(14);
        font-size: toRem(16);
        box-sizing: border-box;
        overflow: hidden;
        border-bottom: 1px solid #aaa;
    }

    .picker_background>.picker_main .picker_operate .cancel {
        float: left;
        color: #888;
    }

    .picker_background>.picker_main .picker_operate .ok {
        float: right;
        color: #ff3333;
    }

    .picker-select {
        padding: toRem(10) 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: toRem(14);
    }

    .picker-select span {
        margin: 0 toRem(15);
        padding: toRem(5);
    }

    .picker-select span.on {
        color: #ff3333;
        border-radius: toRem(10);
    }

    .w-date {
        width: 100%;
        height: toRem(150);
        overflow: hidden;
    }

    .w-date-list {
        float: left;
        width: 33.333%;
        height: 100%;
        text-align: center;
    }

    .w-time {
        width: 100%;
        height: toRem(150);
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .w-time-list {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
    }

    .w-scroller {
        position: relative;
    }

    .w-scroller-ul {
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        position: relative;
        z-index: 1;
        font-size toRem(14);
    }
   
    .w-scroller li {
        height: toRem(45);
        line-height: toRem(45);
        color: #aaa;
        font-size: toRem(20);
    }
    .w-scroller .light-height{
        font-size: toRem(14);
        height: toRem(45);
        line-height: toRem(45);
        color: #aaa;
    }

    .w-scroller li.on {
        color: #000;
    }

    .w-scroller .light-height {
        position: absolute;
        border-top: 1px solid darkcyan;
        border-bottom: 1px solid darkcyan;
        top: toRem(90);
        width: 80%;
        margin-left: 10%;        
        z-index: 0;
    }
}



.w_datetime_picker_pc{
    position: absolute;    
    top: toRem(90px);
    z-index: 100;
    &.bottom{
        top: toRem(90px)!important;
    }
    &.top{
        top:initial;
        bottom: toRem(60px)!important;
    }
    .w_picker_pc_bg{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0)
    }
    .w-calendar {
        background: rgba(255, 255, 255, 1);
        width: 300px;                        
        position: relative;
        border: 1px solid #c5c5c5;
        z-index 2;
    }
    .w-calendar h3 {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        color: #666;
        text-align: center;
        border-bottom: 1px solid #c5c5c5;
    }

    .w-calendar h3 .icon_left {
        float: left;
        font-style: normal;
        padding-left 10px;
    }

    .w-calendar h3 .icon_right {
        float: right;      
        font-style: normal;  
        padding-right 10px;
    }
    .w-calendar h3 em{
        font-style: normal;
        margin: 0 5px;
    }

    .w-calendar .dateTitles {
        font-size: 14px;
        color: #666;
        width: 100%;
        overflow: hidden;        
    }

    .w-calendar ul {
        overflow: hidden;
        clear: both;
        font-size: 14px;
        color: #666;
        border-bottom: 1px solid #c5c5c5;
    }

    .w-calendar .dateTitles p,
    .w-calendar li {
        float: left;
        width: 42px;
        height: 42px;       
        text-align: center;        
    }
    .w-calendar .dateTitles p{
        line-height: 42px;
    }
     .w-calendar li span{
         display: inline-block;
         width: 30px;
         height: 30px;       
         line-height: 30px;
         margin-top: 6px;
     }

    .w-calendar li.on span {
        display: inline-block;
        background: #708bca;
        color: #fff;           
        border-radius: 50%;       
    }   

    .w-calendar button {
        background: #6e8ac9;
        color: #fff;
        width: 50px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 5px;        
        font-size: 14px;
        float: right;
        margin-top:12px;
        margin-right 15px;
        border: none;
        outline: none;
    }
    .btm{
        height: 50px;
        line-height: 50px;
        color: #6e8ac9;
        font-size: 14px;
        box-sizing: border-box;
        padding-left 15px;
    }
    .time_box{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .time_box > div{
        width: 50%;
        height: 100%;
        overflow: auto;
        float: left;
        box-sizing: border-box;
        border-bottom: 1px solid #c5c5c5;
    }
    .time_box > div.hours{
        border-right: 1px solid #c5c5c5;
    }
    .time_box ul{
        border-bottom none;
    }
    .time_box ul li{
        clear: both;
        text-align: center;
        width: 100%;
    }
    .time_box ul li:hover{
        background: #f5f5fc;
    }
    .time_box ul li.on{
        background: #6e8ac9;
    }
}